<mat-toolbar class="header-toolbar">
  <a routerLink="/" class="logo">
    <svg
      class="logo-icon"
      width="30"
      height="30"
      viewBox="0 0 80 80"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M40 5L55 40L40 75L25 40L40 5Z" fill="#181818" />
      <path
        d="M40 5L75 40L40 75L5 40L40 5Z"
        fill="#181818"
        fill-opacity="0.7"
      />
    </svg>
    Instituto Virtus
  </a>

  <span class="spacer"></span>

  <nav class="header-nav">
    <a routerLink="/dashboard" routerLinkActive="active">Início</a>
    <a routerLink="/cursos" routerLinkActive="active">Cursos</a>
    <a routerLink="/biblioteca" routerLinkActive="active">Biblioteca</a>
  </nav>

  <span class="spacer"></span>

  <app-usuario />
</mat-toolbar>
