<footer class="footer-toolbar">
  <div class="footer-content">
    <div class="footer-logo">
      <img
        src="images/estrela-quatro-pontas-footer.png"
        alt="Logo Instituto Virtus"
        class="footer-logo-image"
      />
      <span>Instituto Virtus</span>
    </div>
    <div class="footer-links">
      <a href="#">Sobre nós</a>
      <a href="#">Contato</a>
      <a href="#">Política de Privacidade</a>
    </div>
    <div class="footer-copyright">
      <p>© {{ anoAtual }} Instituto Virtus • Igreja Batista Bethesda</p>
    </div>
  </div>
</footer>
