@use "./theme/custom-theme" as *;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--virtus-preto);
  color: var(--virtus-branco);
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--virtus-amarelo-escuro);
}
