@use "@angular/material" as mat;

@include mat.core();

$virtus-primary: mat.m2-define-palette(
  (
    50: #fff8e1,
    100: #ffecb3,
    200: #ffe082,
    300: #ffd54f,
    400: #ffca28,
    500: #ffc107,
    600: #ffb300,
    700: #ffa000,
    800: #ff8f00,
    900: #ff6f00,
    contrast: (
      500: #1c1c1c,
      600: #1c1c1c,
    ),
  )
);

$virtus-accent: mat.m2-define-palette(mat.$m2-grey-palette, 900);

$virtus-warn: mat.m2-define-palette(mat.$m2-red-palette);

$virtus-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $virtus-primary,
      accent: $virtus-accent,
      warn: $virtus-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: (
      scale: 0,
    ),
  )
);

@include mat.all-component-themes($virtus-theme);

:root {
  --virtus-amarelo: #ffc107;
  --virtus-amarelo-escuro: #ff8f00;
  --virtus-preto: #121212;
  --virtus-branco: #ffffff;
  --virtus-vermelho: #f44336;
}
